/* header */

.header__container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 5px;
}

.header__link {
  width: 10%;
  height: 60px;
  background-color: var(--bg-color-body);
  text-align: center;
  line-height: 60px;
  color: var(--bg-color-title);
  font-size: var(--font-regular);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.header__link:last-child {
  margin-right: 30px;
}

.header__link:hover {
  background-color: var(--bg-color-title);
  color: var(--font-color-white);
}

/* home(index.html) page */

#home {
  color: var(--title-white);
  background-color: var(--bg-color-title);
}

.home-main__header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: var(--font-Xlarge);
  width: 100%;
  height: 80px;
}

.home-main__header--go {
  padding-right: var(--padding-default);
  color: var(--title-white);
}

.home-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: var(--margin-8x);
}

.home-main__text {
  width: 80%;
  font-size: 7.5rem;
  text-align: center;
  margin: var(--margin-default) 0px;
}

.home-main__text.familyAlbum,
.home-main__text.kyoungHee {
  position: relative;
}

.home-main__img {
  position: absolute;
}

.home-main__img.feelSpecial {
  top: -80px;
  right: 40px;
}

.home-main__img.yesOrYes {
  top: -30px;
  left: 210px;
}

.home-main__bigImg-container {
  display: flex;
  justify-content: flex-end;
}

.home-main__bigImg {
  width: 30%;
}

/* about us(about.html) page */

#main {
  width: 100%;
  background-color: var(--bg-color-title);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  min-height: 100vh;
}

.main__container {
  padding: var(--padding-2x);
}

.main__dday-Container {
  padding: var(--padding-2x);
  display: flex;
}

.main__dday {
  width: 33%;
  text-align: center;
  font-size: var(--font-large);
  color: var(--bg-color-body);
}

.main__image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--margin-4x);
}

.main__wedding-text {
  position: absolute;
  display: none;
  font-size: var(--font-Xlarge);
}

.main__wedding-img {
  width: 100%;
  min-width: 500px;
  /* border-radius: 5px; */
}

.main__image-container:hover .main__wedding-text {
  display: inline-block;
}

.footer {
  width: 100%;
  text-align: center;
  line-height: 80px;
  background-color: var(--bg-color-title);
  color: var(--bg-color-main);
  height: 80px;
  border-top: 1px solid var(--bg-color-main);
}
