@import "reset.css";
@import "main.css";
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

:root {
  --padding-default: 20px;
  --padding-2x: 40px;
  --margin-default: 20px;
  --margin-2x: 40px;
  --margin-4x: 80px;

  --title-black: rgb(31, 31, 31);
  --title-white: rgb(251, 251, 251);

  --font-color: #cc9767;
  --font-color2: #ae6e4e;
  --font-color3: #8b4411;
  --font-color-white: #f8f1e7;

  --bg-color-body: #f5f5dd;
  --bg-color-title: #a08f72;
  --bg-color-main: #09080f;

  --font-Xlarge: 48px;
  --font-large: 28px;
  --font-medium: 20px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  --padding-default: 20px;
  --padding-2x: 40px;
  --margin-default: 20px;
  --margin-2x: 40px;
  --margin-4x: 80px;
  --margin-6x: 120px;
  --margin-8x: 160px;

  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
}

body {
  width: 100%;
  background-color: var(--bg-color-body);
  color: var(--title-black);
  cursor: default;
  font-family: "Indie Flower", cursive;
}
